@import'../../App.scss';

a {
    text-decoration: none;
    :hover {
        text-decoration: none;
    }
}


.lienAnnonce {
    font-size: 1.5rem;
    background-color: $primary-color;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 7em;
    text-align: center;
    margin: 0;
    text-decoration: none;

}

