

@media screen and (max-width: 500px) {
        input {
            height: 40px;
        }
        label {
            font-size: 16px;
        }
        // .connectButton {
            
        // }
}